<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Товар</title>
</head>
<body>
<#--<a href="/users">Ко всем пользователям</a>-->
<#--<a href="/catalogs">Ко всем кусам</a>-->
<#--<a href="/products">Ко всем урокам</a>-->
<#include "header/navigation.ftlh">
<h1>${product.name}</h1>
<form action="/products/${product.id}/update" method="post">
    <p>Описание: ${product.description}</p>
    <label>
        Описание
        <input type="text" name="description">
    </label>
    <br>
    <input type="submit" value="Сохранить">

</form>
</body>
</html>